* {
  box-sizing: border-box;
}

body {
  /*margin: 0;*/
  /*padding-left: 20px;*/
}

/*------------ Style ------------ */

#output-target {
  width: 200px;
  height: 100px;
  background-color: gray;
  border: 1px solid black;
}

#page-header {
  background-color: lightgray;
  height: 50px;
}

/*----------- Toggle Items --------*/

.blue {
  color: blue;
}

.large {
  font-size: 2em;
}

.border {
  border: 1px solid black;
}

.round {
  border-radius: 10%;
}
